
<p>To get the configuration values in this form, visit <a href="https://app.bluematador.com/setup/notifications/grafana" target="_blank">https://app.bluematador.com/setup/notifications/grafana</a>.

<div class="gf-form-group">
  <div class="gf-form">
    <label class="gf-form-label width-14 pointer" for="bm-integration">
      Integration ID
      <info-popover position="top center" mode="right-normal">
        <p>Enter the ID of the integration in Blue Matador.</p>
      </info-popover>
    </label>
    <input class="gf-form-input" id="bm-integration" type="text" ng-model='ctrl.annotation.query' placeholder=""></input>
  </div>
</div>
